@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Poppins", sans-serif;
  color: #666;
}
body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Poppins", sans-serif;
}
body a, body a:active, body a:focus {
  color: #FF69B4;
}
body a:hover, body a:active:hover, body a:focus:hover {
  color: #FF69B4;
  text-decoration: underline;
}

header {
  background-color: #215aa9;
}
header nav a {
  display: inline-block;
  padding: 35px 15px 30px;
  color: white;
}
header nav a.btn-primary {
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px 0;
}
header nav a.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.sec {
  padding-top: 150px;
}
.sec--hero {
  display: flex;
  padding: 0;
  background-image: url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.sec--hero .sec-hero-bottom {
  background-color: rgba(12, 33, 62, 0.75);
  width: 100%;
  padding: 80px;
}
.sec--hero .sec-hero-bottom .heading {
  font-weight: 600;
  font-size: 40px;
}
.sec--hero .sec-hero-bottom .subheading {
  font-size: 32px;
}
@media (min-width: 40rem) {
  .sec--hero {
    height: 600px;
  }
}
.sec--features article {
  display: inline-flex;
  justify-content: center;
  max-width: 33%;
  flex-wrap: wrap;
  text-align: center;
}
.sec--features article:nth-child(-n+9) {
  margin-bottom: 60px;
}
.sec--features article .title {
  color: #FF69B4;
  font-size: 22px;
}
.sec--features article .paragraph {
  font-size: 15px;
  max-width: 290px;
}
.sec--security {
  padding-bottom: 150px;
}
.sec--security .grid-container {
  background-image: url("../images/separator.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.sec .title {
  color: #FF69B4;
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 60rem) {
  .sec--features article {
    max-width: 49%;
  }
}
@media (max-width: 40rem) {
  .sec {
    padding-top: 75px;
  }
  .sec--hero .sec-hero-bottom {
    padding: 40px 0;
  }
  .sec--hero .sec-hero-bottom .heading {
    font-size: 26px;
    line-height: 1.4;
  }
  .sec--hero .sec-hero-bottom .subheading {
    font-size: 20px;
    line-height: 1.4;
  }
  .sec--about img {
    margin-bottom: 20px;
  }
  .sec--features article {
    max-width: initial;
    margin-bottom: 20px;
    text-align: center;
  }
  .sec--security {
    padding-bottom: 75px;
  }
  .sec .title {
    font-size: 26px;
    text-align: center;
  }
  .sec .paragraph {
    text-align: center;
  }
}

footer {
  background-color: #FF69B4;
  padding: 40px 0;
  font-size: 12px;
  color: white;
}
footer .flex {
  flex-direction: column;
  gap: 10px;
}
footer .flex img {
  max-width: fit-content;
}

.banner-fintera {
  position: absolute;
  width: 80%;
  background-color: #FF69B4;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 14px 40px;
  border-radius: 50px;
  top: 150px;
  left: 10%;
}
.banner-fintera a, .banner-fintera a:active, .banner-fintera a:hover, .banner-fintera a:focus {
  color: inherit;
}
.banner-fintera a:hover {
  text-decoration: underline;
}
.banner-fintera span {
  position: absolute;
  right: 40px;
  cursor: pointer;
}